.container {
  background-image: url("../public/assets/bg\ certo-certo.jpg");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divtext {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20%;
}
.input {
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: #ffffffbd;
}
.button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.divtext_estado {
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  text-align: center;
}
.container_estado {
  background-image: url("../public/assets/bg\ certo-certo.jpg");
  min-height: 100vh;
  width: 100%;
  flex: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
