.image {
  position: absolute;
  top: 10%;
  width: 124px;
  height: 102px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/assets/logo.png");
}
.container {
  background-image: url("/assets/bg certo-certo.jpg");
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 19px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0);
}
.formregister {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.cinput1 {
  display: inline-flex;
  border: 1px solid #ffffff;
  padding: 10px;
  gap: 10px;
}
.cinput2 {
  display: inline-flex;
  border: 1px solid #ffffff;
  padding: 10px;
  gap: 10px;
}
.input {
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.input:focus {
  outline: none;
}

.input::placeholder {
  color: #ffffffbd;
}
.iconusername {
  height: 20px;
  width: 20px;
  background-image: url("/assets/user.png");
}
.iconpassword {
  height: 20px;
  width: 20px;
  background-image: url("/assets/lock.png");
}
.button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  color: #2148c0;
  text-transform: uppercase;
}
.forgotPassword {
  color: #ffffff;
  text-decoration: none;
  text-align: end;
  margin-left: 39.7%;
  text-indent: 10px;
}
.switch {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}
.p {
  color: #ffffff8e;
  font-weight: 500;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  padding-bottom: 5px;
  text-align: center;
}
.p:hover {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  transition: 0.5s;
}
